#WispPostPane {
    display: grid;

    grid-template-rows: calc(var(--pvpratio) * 375) 
        calc(var(--pvpratio) * 125);
}

#EditSubpane {
    margin: calc(var(--pvpratio) * 25);
    margin-bottom: 0;
    height: calc(var(--pvpratio) * 350);
    width: calc(var(--pvpratio) * 450);

    border: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: calc(var(--pvpratio) * 50);

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: calc(var(--pvpratio) * 100)
        calc(var(--pvpratio) * 350);
}

#WispTextInputContainer {
    width: calc(var(--pvpratio) * 300);
    height: calc(var(--pvpratio) * 300);
    margin: calc(var(--pvpratio) * 25);

    grid-row-end: span 2;

    border: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: calc(var(--pvpratio) * 50);

    background: var(--underlineuri);
    background-size: calc(var(--pvpratio) * 300)
        calc(var(--pvpratio) * 300);
    background-repeat: none;
}

#WispTextInput {
    width: calc(var(--pvpratio) * 250);
    height: calc(var(--pvpratio) * 250);
    margin: calc(var(--pvpratio) * 15) 
        calc(var(--pvpratio) * 25) 0 calc(var(--pvpratio) * 25);
    padding: 0;

    border: 0;
    
    line-height: calc(var(--pvpratio) * 50);
    font-size: calc(var(--pvpratio) * 30);
    
    overflow: hidden;
    resize: none;
}

/*
#WispGifButtonContainer {
    margin-right: calc(var(--pvpratio) * 10);
}

#WispPostButtonContainer {
    margin-left: calc(var(--pvpratio) * 10);
}
*/
.WispEditSelectButton {
    width: 100%;
    height: 100%;
    border: 0;
    border-right: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: 0;

    display: grid;
    grid-template-rows: 50% 50%;
    
    text-align: center;
    justify-content: center;

    cursor: pointer;
}

.WispEditSelectButtonImg {
    height: 50%;
    margin: auto;
    margin-bottom: 0;
}

#TextSelectButton.selected {
    border: 0;
    border-bottom: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    box-shadow: 0 calc(var(--pvpratio) * 5)
        calc(var(--pvpratio) * 5) var(--displaycolor);
    clip-path: inset(0 0 calc(var(--pvpratio) * -10) 0);
    cursor: default;
}

#GifSelectButton.selected {
    border: 0;
    border-top: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    box-shadow: 0 calc(var(--pvpratio) * -5)
        calc(var(--pvpratio) * 5) var(--displaycolor);
    clip-path: inset(calc(var(--pvpratio) * -10) 0 0 0);
    cursor: default;
}

#GifSearchContainer {
    width: calc(var(--pvpratio) * 300);
    height: calc(var(--pvpratio) * 300);

    display: grid;
    grid-template-rows: calc(var(--pvpratio) * 100)
        calc(var(--pvpratio) * 250);
}

#GifSearchBar {
    width: calc(var(--pvpratio) * 300);
    height: calc(var(--pvpratio) * 50);
    margin: calc(var(--pvpratio) * 25);
    margin-bottom: calc(var(--pvpratio) * 275);

    border: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: calc(var(--pvpratio) * 50);

    display: grid;
    grid-template-columns: calc(var(--pvpratio) * 225)
        calc(var(--pvpratio) * 75);
    
    overflow: hidden;
}

#GifSearchInput {
    height: 100%;
    width: 75%;
    padding: 0 10% 0 15%;

    border: 0;
}

#GifSearchButton {
    height: 100%;
    width: 80%;
    padding: 0 10%;
    color: var(--backgroundcolor);
    background-color: var(--displaycolor);

    cursor: pointer;

    text-align: center;
    line-height: calc(var(--pvpratio) * 50);
}

#GifSearchArrow {
    height: 100%;
    width: 100%;
    clip-path: polygon(15% 40%, 60% 40%, 60% 25%, 85% 50%, 
        60% 75%, 60% 60%, 15% 60%);
    background-color: var(--backgroundcolor);
}

#GifSearchResultsContainer {
    width: 100%;
    height: 100%;
    padding: 0 calc(var(--pvpratio) * 25);
    
    overflow-x: hidden;
    overflow-y: scroll;
}

.GifSearchImg {
    width: calc(var(--pvpratio) * 83);
    max-height: calc(var(--pvpratio) * 300);
    margin: calc(var(--pvpratio) * 25);
    padding: calc(var(--pvpratio) * 3);

    border: calc(var(--pvpratio) * 2) solid var(--backgroundcolor);
    border-radius: calc(var(--pvpratio) * 10);
}

.GifSearchImg.Selected {
    border: calc(var(--pvpratio) * 2) dotted var(--displaycolor);
}

#GifSearchStatus {
    width: calc(var(--pvpratio) * 300);
    height: calc(var(--pvpratio) * 50);

    text-align: center;
}

#PostWispButton {
    width: calc(var(--pvpratio) * 450);
    height: calc(var(--pvpratio) * 35);
    margin: calc(var(--pvpratio) * 25);

    text-align: center;
    padding: calc(var(--pvpratio) * 20) 0;
}
