/* CSS directives for Account Update Pane
 */

/* SINGLETON ELEMENTS */

/* Root Pane to hold all context Subpanes */
#AccountUpdatePane {
}

/* Subpane containing buttons for specific edits */
#UpdateOptionsSubpane {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
}

#UsernameUpdateSubpane {
/*    grid-template-columns: 100%;
    grid-template-rows: auto; */
}

#ProfileUpdateSubpane {
}

#ProfileFolderContainer, #ProfileImgContainer {
    width: calc(var(--pvpratio) * 400);

    padding: calc(var(--pvpratio) * 25);

    grid-template-columns: 
        repeat(3, calc(var(--pvpratio) * 116));
    column-gap: calc(var(--pvpratio) * 25);
    row-gap: calc(var(--pvpratio) * 25);
}

/* I have to set this height separately because I did some
 * sneaky margin stuff for the folder PNGs and they extend 25px
 * past their size
 */ 
#ProfileFolderContainer {
    height: calc(var(--pvpratio) * 275);

    padding-bottom: calc(var(--pvpratio) * 50);
}

#ProfileImgContainer {
    height: calc(var(--pvpratio) * 300);
}

/* CLASSES */

/* Folder Icon/Caption pair */
.ProfileFolder {
    width: calc(var(--pvpratio) * 116);
    height: calc(var(--pvpratio) * 91);
    display: grid;
    grid-template-rows: 
        calc(var(--pvpratio) * 91) calc(var(--pvpratio) * 25);

    text-align: center;
    font-size: 0.75em;
}

.FolderImg {
    width: calc(var(--pvpratio) * 116);
}
/*
.FolderImg:hover {
    content:url("../assets/folder-pressed.png");
}
*/
