/* CSS directives for default display elements specific to Panes
 */

/* ANIMATIONS */

/* KeyFrames for pane activation and deactivation
 */
@keyframes PowerOn {
    from {
        transform: scale(1, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes PowerOff {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1, 0);
    }
}

/* SINGLETON ELEMENTS */

/* Root container for all Panes, when a Pane is selected */
#PaneContainer {
    position: fixed;
    
    left: calc(var(--hoffset) + var(--pvpratio) * 150);
    top: calc(var(--voffset) + var(--pvpratio) * 150);

    width: calc(var(--pvpratio) * 700);
    height: calc(var(--pvpratio) * 700);

    z-index: 4;
}

/* PANE CLASSES */

.Pane {
    border: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: calc(var(--pvpratio) * 50);

    width: calc(var(--pvpratio) * 500);
    height: calc(var(--pvpratio) * 500);

    background: var(--backgroundcolor);

    position: fixed;

    display: grid;

    left: calc(var(--hoffset) + var(--pvpratio) * 250);
    top: calc(var(--voffset) + var(--pvpratio) * 250);

    animation: PowerOn .25s;
}

.Subpane {
    width: calc(var(--pvpratio) * 500);
    height: calc(var(--pvpratio) * 500);

    display: grid;
}

.Deactivated {
    animation: PowerOff .25s forwards;
}

/* ENTRY FORM ELEMENTS */

.FormElement {
    margin: 0 calc(var(--pvpratio) * 50);

    display: flex;
    align-items: center;
}

.TextEntry {
    display: grid;
    grid-template-columns: calc(var(--pvpratio) * 125)
        calc(var(--pvpratio) * 275);
}

.TextEntry .WithSubmit {
    grid-template-columns: calc(var(--pvpratio)) * 100)
        calc(var(--pvpratio) * 225) calc(var(--pvpratio) * 75);
}

.EntryLabel, .TextInput {
    height: calc(var(--pvpratio) * 75);
} 

.TextInput {
    border: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: calc(var(--pvpratio) * 10);

    padding: 0 calc(var(--pvpratio) * 25);

    background: calc(var(--backgroundcolor));
    color: calc(var(--displaycolor));

    outline: none;

    letter-spacing: calc(var(--pvpratio) * 2);
}

input[type="pwd"] {
    font-family: var(--fontfamily);
    font-weight: var(--fontweight);
    font-size: calc(var(--pvpratio) * 35);

    -webkit-text-security: circle;
    letter-spacing: calc(var(--pvpratio) * 2);
}

.AuthCodeInput {
    padding: 0;
    padding-left: calc(var(--pvpratio) * 25);

    overflow: hidden;

    letter-spacing: calc(var(--pvpratio) * 26);
    font-size: calc(var(--pvpratio) * 25);
}

.CheckEntry {
    display: grid;
    grid-template-columns: calc(var(--pvpratio) * 325) 
        calc(var(--pvpratio) * 75);
}

.CheckInput {
    appearance: none;

    margin: 0;
    border: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: calc(var(--pvpratio) * 10);
    padding: 0;

    width: calc(var(--pvpratio) * 75);
    height: calc(var(--pvpratio) * 75);

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: calc(var(--pvpratio) * 50);
    font-weight: bold;

    cursor: pointer;
}

.CheckInput:after {
    content: "";
}

.CheckInput:checked:after {
    content: "✓";
}

.FormButton {
    border: calc(var(--pvpratio) * 1) solid var(--displaycolor);
    border-radius: calc(var(--pvpratio) * 50);
    padding: calc(var(--pvpratio) * 25);
    
    cursor: pointer;

    width: calc(var(--pvpratio) * 350);

    text-align: center;
}

.FormButton:active, .FormButton.Pressed {
    color: var(--backgroundcolor);
    background: var(--displaycolor);
    box-shadow: calc(var(--pvpratio) * 5) calc(var(--pvpratio) * 5)
        calc(var(--pvpratio) * 5) var(--backgroundcolor) inset;
}

.FormElement.Half {
    margin: calc(var(--pvpratio) * 12);
}

.FormButton.Fit {
    border-radius: calc(var(--pvpratio) * 25);

    width: 100%;
    height: calc(var(--pvpratio) * 90);

    display: flex;
    align-items: center;
    justify-content: center;
}

.FormButton.Mini {
    width: calc(var(--pvpratio) * 75);
}

/* Simple text container for things like username uniqueness status 
 */
.StatusReadout {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: calc(var(--pvpratio) * 30);
}
